<section class="fipe">
  <h1 class="h1 text-center mb-4">Descubra o valor do seu Automóvel</h1>
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <input
        #inputRef
        type="text"
        class="form-control w-50 mx-auto"
        placeholder="Digite o código fipe do seu automóvel"
        [value]="inputRef.value | formatFipe"
        maxlength="8"
        [formControl]="fieldFipe"
      />

      <div *ngIf="fieldFipe.errors && fieldFipe.touched" class="text-center">
        <fipe-message-error
          *ngIf="fieldFipe.hasError('required')"
          [text]="'Campo obrigatório.'"
          class="my-2"
        ></fipe-message-error>

        <fipe-message-error
          *ngIf="fieldFipe.hasError('minlength')"
          [text]="'Você precisa digitar no mínimo 7 caracteres.'"
          class="my-2"
        ></fipe-message-error>

        <fipe-message-error
          *ngIf="fieldFipe.hasError('pattern')"
          [text]="'Digite apenas números.'"
          class="my-2"
        ></fipe-message-error>
      </div>
    </div>

    <div class="fipe-grid mt-5">


      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div *ngIf="!loading">

        <div *ngIf="hasError; else noError">
          <fipe-message-error class="text-center" [text]="'Houve um erro ao consultar esse veículo. Verifique o código FIPE pesquisado.'"></fipe-message-error>
        </div>
        <ng-template #noError>
          <fipe-table *ngIf="vehicles.length" [vehicles]="vehicles"></fipe-table>
          <p *ngIf="!vehicles.length" class="text-center">Não houve resultado para a sua busca.</p>
        </ng-template>
      </div>

    </div>
  </div>
</section>

<fipe-footer></fipe-footer>
