* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-top: 64px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
