<fipe-header></fipe-header>
<section class="fipe">
  <h1 class="h1 text-center mb-4">Descubra o valor do seu Automóvel</h1>
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <input
        type="text"
        class="form-control w-50 mx-auto"
        placeholder="Digite o código fipe do seu automóvel"
        [formControl]="fieldFipe"
        mask="000000-0"
      />

      @if (fieldFipe.errors && fieldFipe.touched) {
      <div class="text-center">
        @if (fieldFipe.hasError('required')) {
        <fipe-message-error
          [text]="'Campo obrigatório.'"
          class="my-2"
        ></fipe-message-error>
        } @if (fieldFipe.hasError('minlength')) {
        <fipe-message-error
          [text]="'Você precisa digitar no mínimo 7 números.'"
          class="my-2"
        ></fipe-message-error>
        } @if (fieldFipe.hasError('pattern')) {
        <fipe-message-error
          [text]="'Digite apenas números.'"
          class="my-2"
        ></fipe-message-error>
        }
      </div>
      }
    </div>

    <div class="fipe-grid mt-5">
      @if (loading) {
      <fipe-loader></fipe-loader>
      } @else {
      <div>
        @if (hasError) {
        <fipe-message-error
          class="text-center"
          [text]="
            'Houve um erro ao consultar esse veículo. Verifique o código FIPE pesquisado.'
          "
        ></fipe-message-error>
        } @else { @if (vehicles.length) {
        <fipe-table [vehicles]="vehicles"></fipe-table>
        } @else {
        <p class="text-center">Não houve resultado para a sua busca.</p>
        } }
      </div>
      }
    </div>
  </div>
</section>

<fipe-footer></fipe-footer>
